{{define "title"}}
  A developer with 20 years of experience. Go, JavaScript &amp; Java.
{{end}}

{{define "content"}}
  <div class="row">
    <div class="offset-by-one ten columns">
      <h3>All Posts</h3>
    </div>
  </div>

  <div class="row">
    <div class="offset-by-one ten columns">
      {{$l := len .}}
      {{range $i, $e := .}}
        {{if even $i}}<div class="row">{{end}}
          <div class="six columns">
            <h4><a href="/{{$e.Title | slug}}.html">{{$e.Title}}</a></h4>
            <small>
              <em>
                {{$e.Written.Format "Jan 2, 2006"}}&nbsp;
                {{range $e.Tags}}
                  <a href="/tags/{{. | slug}}.html" title="Posts Tagged {{.}}">{{.}}</a>&nbsp;
                {{end}}
              </em>
            </small>
            {{$e.Content | summary | html}}
          </div>
        {{if or (eq (inc $i) $l) (not (even $i))}}</div>{{end}}
      {{end}}
    </div>
  </div>
{{end}}
