{{define "title"}}
  {{.Title}}
{{end}}

{{define "content"}}
  <div class="row">
    <div class="offset-by-one ten columns">
      <h1>{{.Title}}</h1>
      <p>
        <em>{{.Written.Format "Jan 2, 2006"}}</em>
      </p>
      {{if (len .Tags) ne 0}}
        <p>
          {{range .Tags}}
            <em><a href="/tags/{{. | slug}}.html">{{.}}</a></em>&nbsp;
          {{end}}
        </p>
      {{end}}
      {{.Content | html}}

      <div id="disqus_thread"></div>
      <script src="/js/disqus.min.js"></script>
    </div>
  </div>
{{end}}
